{{ template "header.html" . }}

<div class="theme-panel" id="error">
  <noscript>
    <h2 class="theme-heading">{{ .ErrType }}</h2>
    <p>{{ .ErrMsg }}</p>
  </noscript>
</div>
<script>
  const errorMsg = {{ .ErrMsg }};
  const connectorID = new URL(document.location).searchParams.get(
    'connector_id'
  );
  const errorContainerEl = document.querySelector('#error');
  const connectorErrorPattern = /Failed to authenticate: ([^ :]+): user "([^ ]+)" not in required orgs or teams/;

  if (
    connectorID &&
    errorMsg === 'Connector ID does not match a valid Connector'
  ) {
    const errorMsgConnectorID = document.createElement('code');
    errorMsgConnectorID.textContent = connectorID;
    const errorMsgEl = document.createElement('h3');
    errorMsgEl.classList.add('theme-heading');
    errorMsgEl.append(
      document.createTextNode('There is no connector matching the ID '),
      errorMsgConnectorID
    );
    const errorMsgDetailsEl = document.createElement('p');
    errorMsgDetailsEl.textContent =
      'To see a list of all configured connectors, please try logging in without specifying a connector ID.';
    errorContainerEl.append(errorMsgEl, errorMsgDetailsEl);
  } else {
    const errorTypeEl = document.createElement('h2');
    errorTypeEl.classList.add('theme-heading');

    const errorMsgEl = document.createElement('p');
    errorMsgEl.textContent = errorMsg;

    if (connectorErrorPattern.test(errorMsg)) {
      const errorNoteEl = document.createElement('p');
      errorNoteEl.classList.add('theme-note');
      errorNoteEl.textContent = '* Please ensure that you log in with the correct connector. ' +
              'If you log in via kubectl gs, please note that the "--cluster-admin" flag only works for Giantswarm staff authentication.';

      errorMsgEl.textContent += "*";

      errorContainerEl.append(errorTypeEl, errorMsgEl, errorNoteEl);
    } else {
      errorContainerEl.append(errorTypeEl, errorMsgEl);
    }
  }
</script>

{{ template "footer.html" . }}
